.sloth_one {
  background-image: asset-url("sloth_one.png");
  background-size: cover;
  height: 200px;
  width: 200px;
}

.sloth_two {
  background-image: asset-url("sloth_two.png");
  background-size: cover;
  height: 200px;
  width: 200px;
}

.sloth_three {
  background-image: asset-url("sloth_three.png");
  background-size: cover;
  height: 200px;
  width: 200px;
}
